docs/UpgradesToBedone.md
beginner/*
# Anypoint workspace
mule-integration/.metadata/
mule-integration/.mule/
UniversityCRM/.mule

# Mule build
**/target/

# Eclipse/Studio
**/.classpath
**/.project
**/.settings/

# OS
.DS_Store
Thumbs.db
**/plugins-tmp/
**/repository/

# Mule build
mule-integration/target/
**/*.jar


**/config.properties
UniversityCRM/force-app/main/default/flows/update.xml
/.metadata/
